CampusStore/CampusStore/CampusStoreWeb/CampusStoreWeb/Connected Services/OrdenCompraWS/OrdenCompraWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.campusstore.pucp.edu.pe/" targetNamespace="http://services.campusstore.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarOrdenCompra" type="tns:eliminarOrdenCompra" />
  <xs:element name="eliminarOrdenCompraResponse" type="tns:eliminarOrdenCompraResponse" />
  <xs:element name="guardarOrdenCompra" type="tns:guardarOrdenCompra" />
  <xs:element name="guardarOrdenCompraResponse" type="tns:guardarOrdenCompraResponse" />
  <xs:element name="listarOrdenesCompra" type="tns:listarOrdenesCompra" />
  <xs:element name="listarOrdenesCompraResponse" type="tns:listarOrdenesCompraResponse" />
  <xs:element name="obtenerOrdenCompra" type="tns:obtenerOrdenCompra" />
  <xs:element name="obtenerOrdenCompraResponse" type="tns:obtenerOrdenCompraResponse" />
  <xs:complexType name="eliminarOrdenCompra">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOrdenCompraResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerOrdenCompra">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerOrdenCompraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ordenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ordenCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="carrito" type="tns:carrito" />
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoOrden" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idOrdenCompra" type="xs:int" />
      <xs:element minOccurs="0" name="limitePago" type="xs:dateTime" />
      <xs:element minOccurs="0" name="total" type="xs:double" />
      <xs:element minOccurs="0" name="totalDescontado" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="carrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
      <xs:element minOccurs="0" name="completado" type="xs:boolean" />
      <xs:element minOccurs="0" name="cupon" type="tns:cupon" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idCarrito" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lineas" nillable="true" type="tns:lineaCarrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="cuponesUsados" nillable="true" type="tns:cupon" />
          <xs:element minOccurs="0" name="idCliente" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cupon">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="descuento" type="xs:double" />
      <xs:element minOccurs="0" name="fechaCaducidad" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idCupon" type="xs:int" />
      <xs:element minOccurs="0" name="usosRestantes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="carrito" type="tns:carrito" />
      <xs:element minOccurs="0" name="idLineaCarrito" type="xs:int" />
      <xs:element minOccurs="0" name="precioConDescuento" type="xs:double" />
      <xs:element minOccurs="0" name="precioUnitario" type="xs:double" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element minOccurs="0" name="subTotalConDescuento" type="xs:double" />
      <xs:element minOccurs="0" name="subtotal" type="xs:double" />
      <xs:element minOccurs="0" name="tipoProducto" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="descuento" type="tns:descuento" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="precioDescuento" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reseñas" nillable="true" type="tns:reseña" />
      <xs:element minOccurs="0" name="stockReal" type="xs:int" />
      <xs:element minOccurs="0" name="stockVirtual" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="descuento">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaCaducidad" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idDescuento" type="xs:int" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="tipoProducto" type="tns:tipoProducto" />
      <xs:element minOccurs="0" name="valorDescuento" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reseña">
    <xs:sequence>
      <xs:element name="calificacion" type="xs:double" />
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
      <xs:element minOccurs="0" name="idReseña" type="xs:int" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element minOccurs="0" name="reseña" type="xs:string" />
      <xs:element minOccurs="0" name="tipoProducto" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarOrdenCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="ordenCompra" type="tns:ordenCompra" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarOrdenCompraResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarOrdenesCompra">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarOrdenesCompraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ordenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoProducto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ARTICULO" />
      <xs:enumeration value="LIBRO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoOrden">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NO_PAGADO" />
      <xs:enumeration value="PAGADO" />
      <xs:enumeration value="ENTREGADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nuevo" />
      <xs:enumeration value="Modificado" />
      <xs:enumeration value="Eliminado" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>