CampusStore/CampusStore/CampusStoreWeb/CampusStoreWeb/Connected Services/CampusStoreWS/ArticuloWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.campusstore.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ArticuloWS" targetNamespace="http://services.campusstore.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CampusStoreWS/ArticuloWS?xsd=1" namespace="http://services.campusstore.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarArticulo">
    <part name="parameters" element="tns:eliminarArticulo" />
  </message>
  <message name="eliminarArticuloResponse">
    <part name="parameters" element="tns:eliminarArticuloResponse" />
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException" />
  </message>
  <message name="InterruptedException">
    <part name="fault" element="tns:InterruptedException" />
  </message>
  <message name="guardarArticulo">
    <part name="parameters" element="tns:guardarArticulo" />
  </message>
  <message name="guardarArticuloResponse">
    <part name="parameters" element="tns:guardarArticuloResponse" />
  </message>
  <message name="listarArticulos">
    <part name="parameters" element="tns:listarArticulos" />
  </message>
  <message name="listarArticulosResponse">
    <part name="parameters" element="tns:listarArticulosResponse" />
  </message>
  <message name="obtenerArticulo">
    <part name="parameters" element="tns:obtenerArticulo" />
  </message>
  <message name="obtenerArticuloResponse">
    <part name="parameters" element="tns:obtenerArticuloResponse" />
  </message>
  <portType name="ArticuloWS">
    <operation name="eliminarArticulo">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/ArticuloWS/eliminarArticuloRequest" message="tns:eliminarArticulo" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/ArticuloWS/eliminarArticuloResponse" message="tns:eliminarArticuloResponse" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/ArticuloWS/eliminarArticulo/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/ArticuloWS/eliminarArticulo/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="guardarArticulo">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/ArticuloWS/guardarArticuloRequest" message="tns:guardarArticulo" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/ArticuloWS/guardarArticuloResponse" message="tns:guardarArticuloResponse" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/ArticuloWS/guardarArticulo/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/ArticuloWS/guardarArticulo/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="listarArticulos">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/ArticuloWS/listarArticulosRequest" message="tns:listarArticulos" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/ArticuloWS/listarArticulosResponse" message="tns:listarArticulosResponse" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/ArticuloWS/listarArticulos/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/ArticuloWS/listarArticulos/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="obtenerArticulo">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/ArticuloWS/obtenerArticuloRequest" message="tns:obtenerArticulo" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/ArticuloWS/obtenerArticuloResponse" message="tns:obtenerArticuloResponse" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/ArticuloWS/obtenerArticulo/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/ArticuloWS/obtenerArticulo/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
  </portType>
  <binding name="ArticuloWSPortBinding" type="tns:ArticuloWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarArticulo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="guardarArticulo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="listarArticulos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerArticulo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="ArticuloWS">
    <port name="ArticuloWSPort" binding="tns:ArticuloWSPortBinding">
      <soap:address location="http://localhost:8080/CampusStoreWS/ArticuloWS" />
    </port>
  </service>
</definitions>