CampusStore/CampusStore/CampusStoreWeb/CampusStoreWeb/Connected Services/CampusStoreWS/AutorWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.campusstore.pucp.edu.pe/" targetNamespace="http://services.campusstore.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="InterruptedException" type="tns:InterruptedException" />
  <xs:element name="eliminarAutor" type="tns:eliminarAutor" />
  <xs:element name="eliminarAutorResponse" type="tns:eliminarAutorResponse" />
  <xs:element name="guardarAutor" type="tns:guardarAutor" />
  <xs:element name="guardarAutorResponse" type="tns:guardarAutorResponse" />
  <xs:element name="listarAutores" type="tns:listarAutores" />
  <xs:element name="listarAutoresResponse" type="tns:listarAutoresResponse" />
  <xs:element name="obtenerAutor" type="tns:obtenerAutor" />
  <xs:element name="obtenerAutorResponse" type="tns:obtenerAutorResponse" />
  <xs:complexType name="listarAutores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAutoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:autor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="autor">
    <xs:sequence>
      <xs:element minOccurs="0" name="alias" type="xs:string" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="idAutor" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterruptedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarAutor">
    <xs:sequence>
      <xs:element minOccurs="0" name="autor" type="tns:autor" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarAutorResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarAutor">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAutorResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerAutor">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerAutorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:autor" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nuevo" />
      <xs:enumeration value="Modificado" />
      <xs:enumeration value="Eliminado" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>