CampusStore/CampusStore/CampusStoreWeb/CampusStoreWeb/Connected Services/CampusStoreWS/ClienteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.campusstore.pucp.edu.pe/" targetNamespace="http://services.campusstore.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="InterruptedException" type="tns:InterruptedException" />
  <xs:element name="buscarClientePorCuenta" type="tns:buscarClientePorCuenta" />
  <xs:element name="buscarClientePorCuentaResponse" type="tns:buscarClientePorCuentaResponse" />
  <xs:element name="eliminarCliente" type="tns:eliminarCliente" />
  <xs:element name="eliminarClienteResponse" type="tns:eliminarClienteResponse" />
  <xs:element name="guardarCliente" type="tns:guardarCliente" />
  <xs:element name="guardarClienteResponse" type="tns:guardarClienteResponse" />
  <xs:element name="listarClientes" type="tns:listarClientes" />
  <xs:element name="listarClientesResponse" type="tns:listarClientesResponse" />
  <xs:element name="obtenerCliente" type="tns:obtenerCliente" />
  <xs:element name="obtenerClienteResponse" type="tns:obtenerClienteResponse" />
  <xs:complexType name="eliminarCliente">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarClienteResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterruptedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="cuponesUsados" nillable="true" type="tns:cupon" />
          <xs:element minOccurs="0" name="idCliente" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cupon">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="descuento" type="xs:double" />
      <xs:element minOccurs="0" name="fechaCaducidad" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idCupon" type="xs:int" />
      <xs:element minOccurs="0" name="usosRestantes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarClienteResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="buscarClientePorCuenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="cuenta" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarClientePorCuentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCliente">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarClientes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarClientesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nuevo" />
      <xs:enumeration value="Modificado" />
      <xs:enumeration value="Eliminado" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>