CampusStore/CampusStore/CampusStoreWeb/CampusStoreWeb/Connected Services/CampusStoreWS/CuponWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.campusstore.pucp.edu.pe/" targetNamespace="http://services.campusstore.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InterruptedException" type="tns:InterruptedException" />
  <xs:element name="buscarCuponPorCodigo" type="tns:buscarCuponPorCodigo" />
  <xs:element name="buscarCuponPorCodigoResponse" type="tns:buscarCuponPorCodigoResponse" />
  <xs:element name="eliminarCupon" type="tns:eliminarCupon" />
  <xs:element name="eliminarCuponResponse" type="tns:eliminarCuponResponse" />
  <xs:element name="guardarCupon" type="tns:guardarCupon" />
  <xs:element name="guardarCuponResponse" type="tns:guardarCuponResponse" />
  <xs:element name="listarCupones" type="tns:listarCupones" />
  <xs:element name="listarCuponesResponse" type="tns:listarCuponesResponse" />
  <xs:element name="obtenerCupon" type="tns:obtenerCupon" />
  <xs:element name="obtenerCuponResponse" type="tns:obtenerCuponResponse" />
  <xs:element name="verificarCuponUsado" type="tns:verificarCuponUsado" />
  <xs:element name="verificarCuponUsadoResponse" type="tns:verificarCuponUsadoResponse" />
  <xs:complexType name="buscarCuponPorCodigo">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarCuponPorCodigoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cupon" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cupon">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="descuento" type="xs:double" />
      <xs:element minOccurs="0" name="fechaCaducidad" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idCupon" type="xs:int" />
      <xs:element minOccurs="0" name="usosRestantes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCupon">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCuponResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cupon" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterruptedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarCupon">
    <xs:sequence>
      <xs:element minOccurs="0" name="cupon" type="tns:cupon" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarCuponResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarCupon">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCuponResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="verificarCuponUsado">
    <xs:sequence>
      <xs:element name="idCupon" type="xs:int" />
      <xs:element name="idCliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarCuponUsadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCupones">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCuponesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cupon" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nuevo" />
      <xs:enumeration value="Modificado" />
      <xs:enumeration value="Eliminado" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>