CampusStore/CampusStore/CampusStoreWeb/CampusStoreWeb/Connected Services/CampusStoreWS/DescuentoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.campusstore.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DescuentoWS" targetNamespace="http://services.campusstore.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CampusStoreWS/DescuentoWS?xsd=1" namespace="http://services.campusstore.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="obtenerDescuentoPorProducto">
    <part name="parameters" element="tns:obtenerDescuentoPorProducto" />
  </message>
  <message name="obtenerDescuentoPorProductoResponse">
    <part name="parameters" element="tns:obtenerDescuentoPorProductoResponse" />
  </message>
  <message name="eliminarDescuento">
    <part name="parameters" element="tns:eliminarDescuento" />
  </message>
  <message name="eliminarDescuentoResponse">
    <part name="parameters" element="tns:eliminarDescuentoResponse" />
  </message>
  <message name="InterruptedException">
    <part name="fault" element="tns:InterruptedException" />
  </message>
  <message name="guardarDescuento">
    <part name="parameters" element="tns:guardarDescuento" />
  </message>
  <message name="guardarDescuentoResponse">
    <part name="parameters" element="tns:guardarDescuentoResponse" />
  </message>
  <message name="listarDescuentos">
    <part name="parameters" element="tns:listarDescuentos" />
  </message>
  <message name="listarDescuentosResponse">
    <part name="parameters" element="tns:listarDescuentosResponse" />
  </message>
  <message name="obtenerDescuento">
    <part name="parameters" element="tns:obtenerDescuento" />
  </message>
  <message name="obtenerDescuentoResponse">
    <part name="parameters" element="tns:obtenerDescuentoResponse" />
  </message>
  <portType name="DescuentoWS">
    <operation name="obtenerDescuentoPorProducto">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/DescuentoWS/obtenerDescuentoPorProductoRequest" message="tns:obtenerDescuentoPorProducto" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/DescuentoWS/obtenerDescuentoPorProductoResponse" message="tns:obtenerDescuentoPorProductoResponse" />
    </operation>
    <operation name="eliminarDescuento">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/DescuentoWS/eliminarDescuentoRequest" message="tns:eliminarDescuento" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/DescuentoWS/eliminarDescuentoResponse" message="tns:eliminarDescuentoResponse" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/DescuentoWS/eliminarDescuento/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="guardarDescuento">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/DescuentoWS/guardarDescuentoRequest" message="tns:guardarDescuento" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/DescuentoWS/guardarDescuentoResponse" message="tns:guardarDescuentoResponse" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/DescuentoWS/guardarDescuento/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="listarDescuentos">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/DescuentoWS/listarDescuentosRequest" message="tns:listarDescuentos" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/DescuentoWS/listarDescuentosResponse" message="tns:listarDescuentosResponse" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/DescuentoWS/listarDescuentos/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="obtenerDescuento">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/DescuentoWS/obtenerDescuentoRequest" message="tns:obtenerDescuento" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/DescuentoWS/obtenerDescuentoResponse" message="tns:obtenerDescuentoResponse" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/DescuentoWS/obtenerDescuento/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
  </portType>
  <binding name="DescuentoWSPortBinding" type="tns:DescuentoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerDescuentoPorProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarDescuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="guardarDescuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="listarDescuentos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerDescuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="DescuentoWS">
    <port name="DescuentoWSPort" binding="tns:DescuentoWSPortBinding">
      <soap:address location="http://localhost:8080/CampusStoreWS/DescuentoWS" />
    </port>
  </service>
</definitions>