CampusStore/CampusStore/CampusStoreWeb/CampusStoreWeb/Connected Services/CampusStoreWS/EditorialWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.campusstore.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EditorialWS" targetNamespace="http://services.campusstore.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CampusStoreWS/EditorialWS?xsd=1" namespace="http://services.campusstore.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarEditorial">
    <part name="parameters" element="tns:eliminarEditorial" />
  </message>
  <message name="eliminarEditorialResponse">
    <part name="parameters" element="tns:eliminarEditorialResponse" />
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException" />
  </message>
  <message name="InterruptedException">
    <part name="fault" element="tns:InterruptedException" />
  </message>
  <message name="obtenerEditorial">
    <part name="parameters" element="tns:obtenerEditorial" />
  </message>
  <message name="obtenerEditorialResponse">
    <part name="parameters" element="tns:obtenerEditorialResponse" />
  </message>
  <message name="listarEditoriales">
    <part name="parameters" element="tns:listarEditoriales" />
  </message>
  <message name="listarEditorialesResponse">
    <part name="parameters" element="tns:listarEditorialesResponse" />
  </message>
  <message name="guardarEditorial">
    <part name="parameters" element="tns:guardarEditorial" />
  </message>
  <message name="guardarEditorialResponse">
    <part name="parameters" element="tns:guardarEditorialResponse" />
  </message>
  <portType name="EditorialWS">
    <operation name="eliminarEditorial">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/EditorialWS/eliminarEditorialRequest" message="tns:eliminarEditorial" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/EditorialWS/eliminarEditorialResponse" message="tns:eliminarEditorialResponse" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/EditorialWS/eliminarEditorial/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/EditorialWS/eliminarEditorial/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="obtenerEditorial">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/EditorialWS/obtenerEditorialRequest" message="tns:obtenerEditorial" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/EditorialWS/obtenerEditorialResponse" message="tns:obtenerEditorialResponse" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/EditorialWS/obtenerEditorial/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/EditorialWS/obtenerEditorial/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="listarEditoriales">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/EditorialWS/listarEditorialesRequest" message="tns:listarEditoriales" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/EditorialWS/listarEditorialesResponse" message="tns:listarEditorialesResponse" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/EditorialWS/listarEditoriales/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/EditorialWS/listarEditoriales/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="guardarEditorial">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/EditorialWS/guardarEditorialRequest" message="tns:guardarEditorial" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/EditorialWS/guardarEditorialResponse" message="tns:guardarEditorialResponse" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/EditorialWS/guardarEditorial/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/EditorialWS/guardarEditorial/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
  </portType>
  <binding name="EditorialWSPortBinding" type="tns:EditorialWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarEditorial">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerEditorial">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="listarEditoriales">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="guardarEditorial">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="EditorialWS">
    <port name="EditorialWSPort" binding="tns:EditorialWSPortBinding">
      <soap:address location="http://localhost:8080/CampusStoreWS/EditorialWS" />
    </port>
  </service>
</definitions>