CampusStore/CampusStore/CampusStoreWeb/CampusStoreWeb/Connected Services/CampusStoreWS/EditorialWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.campusstore.pucp.edu.pe/" targetNamespace="http://services.campusstore.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarEditorial" type="tns:eliminarEditorial" />
  <xs:element name="eliminarEditorialResponse" type="tns:eliminarEditorialResponse" />
  <xs:element name="guardarEditorial" type="tns:guardarEditorial" />
  <xs:element name="guardarEditorialResponse" type="tns:guardarEditorialResponse" />
  <xs:element name="listarEditoriales" type="tns:listarEditoriales" />
  <xs:element name="listarEditorialesResponse" type="tns:listarEditorialesResponse" />
  <xs:element name="obtenerEditorial" type="tns:obtenerEditorial" />
  <xs:element name="obtenerEditorialResponse" type="tns:obtenerEditorialResponse" />
  <xs:complexType name="guardarEditorial">
    <xs:sequence>
      <xs:element minOccurs="0" name="editorial" type="tns:editorial" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editorial">
    <xs:sequence>
      <xs:element minOccurs="0" name="cif" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="idEditorial" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="sitioWeb" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarEditorialResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarEditorial">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEditorialResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEditoriales">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEditorialesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:editorial" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEditorial">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEditorialResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:editorial" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nuevo" />
      <xs:enumeration value="Modificado" />
      <xs:enumeration value="Eliminado" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>