CampusStore/CampusStore/CampusStoreWeb/CampusStoreWeb/Connected Services/CampusStoreWS/EmpleadoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.campusstore.pucp.edu.pe/" targetNamespace="http://services.campusstore.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarEmpleado" type="tns:eliminarEmpleado" />
  <xs:element name="eliminarEmpleadoResponse" type="tns:eliminarEmpleadoResponse" />
  <xs:element name="guardarEmpleado" type="tns:guardarEmpleado" />
  <xs:element name="guardarEmpleadoResponse" type="tns:guardarEmpleadoResponse" />
  <xs:element name="listarEmpleados" type="tns:listarEmpleados" />
  <xs:element name="listarEmpleadosResponse" type="tns:listarEmpleadosResponse" />
  <xs:element name="obtenerEmpleado" type="tns:obtenerEmpleado" />
  <xs:element name="obtenerEmpleadoResponse" type="tns:obtenerEmpleadoResponse" />
  <xs:complexType name="guardarEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="empleado" type="tns:empleado" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empleado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="idEmpleado" type="xs:int" />
          <xs:element minOccurs="0" name="rol" type="tns:rol" />
          <xs:element minOccurs="0" name="sueldo" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idRol" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarEmpleadoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarEmpleado">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEmpleadoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEmpleados">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEmpleadosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEmpleado">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEmpleadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nuevo" />
      <xs:enumeration value="Modificado" />
      <xs:enumeration value="Eliminado" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>