CampusStore/CampusStore/CampusStoreWeb/CampusStoreWeb/Connected Services/CampusStoreWS/LibroWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.campusstore.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="LibroWS" targetNamespace="http://services.campusstore.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CampusStoreWS/LibroWS?xsd=1" namespace="http://services.campusstore.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="modificarLibroConAutores">
    <part name="parameters" element="tns:modificarLibroConAutores" />
  </message>
  <message name="modificarLibroConAutoresResponse">
    <part name="parameters" element="tns:modificarLibroConAutoresResponse" />
  </message>
  <message name="leerAutoresPorLibro">
    <part name="parameters" element="tns:leerAutoresPorLibro" />
  </message>
  <message name="leerAutoresPorLibroResponse">
    <part name="parameters" element="tns:leerAutoresPorLibroResponse" />
  </message>
  <message name="listarLibros">
    <part name="parameters" element="tns:listarLibros" />
  </message>
  <message name="listarLibrosResponse">
    <part name="parameters" element="tns:listarLibrosResponse" />
  </message>
  <message name="registrarLibro">
    <part name="parameters" element="tns:registrarLibro" />
  </message>
  <message name="registrarLibroResponse">
    <part name="parameters" element="tns:registrarLibroResponse" />
  </message>
  <message name="obtenerLibro">
    <part name="parameters" element="tns:obtenerLibro" />
  </message>
  <message name="obtenerLibroResponse">
    <part name="parameters" element="tns:obtenerLibroResponse" />
  </message>
  <message name="eliminarLibro">
    <part name="parameters" element="tns:eliminarLibro" />
  </message>
  <message name="eliminarLibroResponse">
    <part name="parameters" element="tns:eliminarLibroResponse" />
  </message>
  <message name="guardarLibro">
    <part name="parameters" element="tns:guardarLibro" />
  </message>
  <message name="guardarLibroResponse">
    <part name="parameters" element="tns:guardarLibroResponse" />
  </message>
  <portType name="LibroWS">
    <operation name="modificarLibroConAutores">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/LibroWS/modificarLibroConAutoresRequest" message="tns:modificarLibroConAutores" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/LibroWS/modificarLibroConAutoresResponse" message="tns:modificarLibroConAutoresResponse" />
    </operation>
    <operation name="leerAutoresPorLibro">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/LibroWS/leerAutoresPorLibroRequest" message="tns:leerAutoresPorLibro" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/LibroWS/leerAutoresPorLibroResponse" message="tns:leerAutoresPorLibroResponse" />
    </operation>
    <operation name="listarLibros">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/LibroWS/listarLibrosRequest" message="tns:listarLibros" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/LibroWS/listarLibrosResponse" message="tns:listarLibrosResponse" />
    </operation>
    <operation name="registrarLibro">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/LibroWS/registrarLibroRequest" message="tns:registrarLibro" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/LibroWS/registrarLibroResponse" message="tns:registrarLibroResponse" />
    </operation>
    <operation name="obtenerLibro">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/LibroWS/obtenerLibroRequest" message="tns:obtenerLibro" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/LibroWS/obtenerLibroResponse" message="tns:obtenerLibroResponse" />
    </operation>
    <operation name="eliminarLibro">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/LibroWS/eliminarLibroRequest" message="tns:eliminarLibro" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/LibroWS/eliminarLibroResponse" message="tns:eliminarLibroResponse" />
    </operation>
    <operation name="guardarLibro">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/LibroWS/guardarLibroRequest" message="tns:guardarLibro" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/LibroWS/guardarLibroResponse" message="tns:guardarLibroResponse" />
    </operation>
  </portType>
  <binding name="LibroWSPortBinding" type="tns:LibroWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarLibroConAutores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="leerAutoresPorLibro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarLibros">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarLibro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerLibro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarLibro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="guardarLibro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="LibroWS">
    <port name="LibroWSPort" binding="tns:LibroWSPortBinding">
      <soap:address location="http://localhost:8080/CampusStoreWS/LibroWS" />
    </port>
  </service>
</definitions>