CampusStore/CampusStore/CampusStoreWeb/CampusStoreWeb/Connected Services/CampusStoreWS/LibroWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.campusstore.pucp.edu.pe/" targetNamespace="http://services.campusstore.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Articulo" type="tns:articulo" />
  <xs:element name="Libro" type="tns:libro" />
  <xs:element name="eliminarLibro" type="tns:eliminarLibro" />
  <xs:element name="eliminarLibroResponse" type="tns:eliminarLibroResponse" />
  <xs:element name="guardarLibro" type="tns:guardarLibro" />
  <xs:element name="guardarLibroResponse" type="tns:guardarLibroResponse" />
  <xs:element name="leerAutoresPorLibro" type="tns:leerAutoresPorLibro" />
  <xs:element name="leerAutoresPorLibroResponse" type="tns:leerAutoresPorLibroResponse" />
  <xs:element name="listarLibros" type="tns:listarLibros" />
  <xs:element name="listarLibrosResponse" type="tns:listarLibrosResponse" />
  <xs:element name="modificarLibroConAutores" type="tns:modificarLibroConAutores" />
  <xs:element name="modificarLibroConAutoresResponse" type="tns:modificarLibroConAutoresResponse" />
  <xs:element name="obtenerLibro" type="tns:obtenerLibro" />
  <xs:element name="obtenerLibroResponse" type="tns:obtenerLibroResponse" />
  <xs:element name="registrarLibro" type="tns:registrarLibro" />
  <xs:element name="registrarLibroResponse" type="tns:registrarLibroResponse" />
  <xs:complexType name="guardarLibro">
    <xs:sequence>
      <xs:element minOccurs="0" name="libro" type="tns:libro" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="libro">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:producto">
        <xs:sequence>
          <xs:element minOccurs="0" name="idLibro" type="xs:int" />
          <xs:element minOccurs="0" name="isbn" type="xs:string" />
          <xs:element minOccurs="0" name="genero" type="tns:generoLibro" />
          <xs:element minOccurs="0" name="fechaPublicacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="formato" type="tns:formato" />
          <xs:element minOccurs="0" name="sinopsis" type="xs:string" />
          <xs:element minOccurs="0" name="editorial" type="tns:editorial" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="autores" nillable="true" type="tns:autor" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="producto" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="precioDescuento" type="xs:double" />
      <xs:element minOccurs="0" name="stockReal" type="xs:int" />
      <xs:element minOccurs="0" name="stockVirtual" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="descuento" type="tns:descuento" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reseñas" type="tns:reseña" />
      <xs:element minOccurs="0" name="imagenURL" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editorial">
    <xs:sequence>
      <xs:element minOccurs="0" name="cif" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="idEditorial" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="sitioWeb" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="autor">
    <xs:sequence>
      <xs:element minOccurs="0" name="alias" type="xs:string" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="idAutor" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="descuento">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaCaducidad" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idDescuento" type="xs:int" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="tipoProducto" type="tns:tipoProducto" />
      <xs:element minOccurs="0" name="valorDescuento" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reseña">
    <xs:sequence>
      <xs:element minOccurs="0" name="idReseña" type="xs:int" />
      <xs:element minOccurs="0" name="calificacion" type="xs:double" />
      <xs:element minOccurs="0" name="reseña" type="xs:string" />
      <xs:element minOccurs="0" name="tipoProducto" type="tns:tipoProducto" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="cuponesUsados" nillable="true" type="tns:cupon" />
          <xs:element minOccurs="0" name="idCliente" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cupon">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="descuento" type="xs:double" />
      <xs:element minOccurs="0" name="fechaCaducidad" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idCupon" type="xs:int" />
      <xs:element minOccurs="0" name="usosRestantes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="articulo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:producto">
        <xs:sequence>
          <xs:element minOccurs="0" name="idArticulo" type="xs:int" />
          <xs:element minOccurs="0" name="tipoArticulo" type="tns:tipoArticulo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="guardarLibroResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarLibro">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarLibroResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarLibros">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarLibrosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:libro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarLibro">
    <xs:sequence>
      <xs:element minOccurs="0" name="libro" type="tns:libro" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="autores" type="tns:autor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarLibroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerLibro">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerLibroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:libro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="leerAutoresPorLibro">
    <xs:sequence>
      <xs:element name="idLibro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="leerAutoresPorLibroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:autor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarLibroConAutores">
    <xs:sequence>
      <xs:element minOccurs="0" name="libro" type="tns:libro" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="autores" type="tns:autor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarLibroConAutoresResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:simpleType name="generoLibro">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DRAMA" />
      <xs:enumeration value="FANTASIA" />
      <xs:enumeration value="NOVELA" />
      <xs:enumeration value="NARRATIVO" />
      <xs:enumeration value="AVENTURA" />
      <xs:enumeration value="CIENCIA_FICCION" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="formato">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TAPA_BLANDA" />
      <xs:enumeration value="TAPA_DURA" />
      <xs:enumeration value="COLECCIONISTA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoProducto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ARTICULO" />
      <xs:enumeration value="LIBRO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoArticulo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LAPICERO" />
      <xs:enumeration value="CUADERNO" />
      <xs:enumeration value="PELUCHE" />
      <xs:enumeration value="TOMATODO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nuevo" />
      <xs:enumeration value="Modificado" />
      <xs:enumeration value="Eliminado" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>