CampusStore/CampusStore/CampusStoreWeb/CampusStoreWeb/Connected Services/CampusStoreWS/OrdenCompraWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.campusstore.pucp.edu.pe/" targetNamespace="http://services.campusstore.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Articulo" type="tns:articulo" />
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="InterruptedException" type="tns:InterruptedException" />
  <xs:element name="Libro" type="tns:libro" />
  <xs:element name="cancelarOrdenesExpiradas" type="tns:cancelarOrdenesExpiradas" />
  <xs:element name="cancelarOrdenesExpiradasResponse" type="tns:cancelarOrdenesExpiradasResponse" />
  <xs:element name="contarProductosCarrito" type="tns:contarProductosCarrito" />
  <xs:element name="contarProductosCarritoResponse" type="tns:contarProductosCarritoResponse" />
  <xs:element name="eliminarOrdenCompra" type="tns:eliminarOrdenCompra" />
  <xs:element name="eliminarOrdenCompraResponse" type="tns:eliminarOrdenCompraResponse" />
  <xs:element name="guardarOrdenCompra" type="tns:guardarOrdenCompra" />
  <xs:element name="guardarOrdenCompraResponse" type="tns:guardarOrdenCompraResponse" />
  <xs:element name="listarArticulosCarrito" type="tns:listarArticulosCarrito" />
  <xs:element name="listarArticulosCarritoResponse" type="tns:listarArticulosCarritoResponse" />
  <xs:element name="listarLibrosCarrito" type="tns:listarLibrosCarrito" />
  <xs:element name="listarLibrosCarritoResponse" type="tns:listarLibrosCarritoResponse" />
  <xs:element name="listarOrdenesCompra" type="tns:listarOrdenesCompra" />
  <xs:element name="listarOrdenesCompraResponse" type="tns:listarOrdenesCompraResponse" />
  <xs:element name="listarOrdenesPorCliente" type="tns:listarOrdenesPorCliente" />
  <xs:element name="listarOrdenesPorClienteResponse" type="tns:listarOrdenesPorClienteResponse" />
  <xs:element name="obtenerOrdenCompra" type="tns:obtenerOrdenCompra" />
  <xs:element name="obtenerOrdenCompraResponse" type="tns:obtenerOrdenCompraResponse" />
  <xs:complexType name="articulo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:producto">
        <xs:sequence>
          <xs:element minOccurs="0" name="idArticulo" type="xs:int" />
          <xs:element minOccurs="0" name="tipoArticulo" type="tns:tipoArticulo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="producto" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="precioDescuento" type="xs:double" />
      <xs:element minOccurs="0" name="stockReal" type="xs:int" />
      <xs:element minOccurs="0" name="stockVirtual" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="descuento" type="tns:descuento" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reseñas" type="tns:reseña" />
      <xs:element minOccurs="0" name="imagenURL" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="descuento">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaCaducidad" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idDescuento" type="xs:int" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="tipoProducto" type="tns:tipoProducto" />
      <xs:element minOccurs="0" name="valorDescuento" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reseña">
    <xs:sequence>
      <xs:element minOccurs="0" name="idReseña" type="xs:int" />
      <xs:element minOccurs="0" name="calificacion" type="xs:double" />
      <xs:element minOccurs="0" name="reseña" type="xs:string" />
      <xs:element minOccurs="0" name="tipoProducto" type="tns:tipoProducto" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="cuponesUsados" nillable="true" type="tns:cupon" />
          <xs:element minOccurs="0" name="idCliente" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cupon">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="descuento" type="xs:double" />
      <xs:element minOccurs="0" name="fechaCaducidad" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idCupon" type="xs:int" />
      <xs:element minOccurs="0" name="usosRestantes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="libro">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:producto">
        <xs:sequence>
          <xs:element minOccurs="0" name="idLibro" type="xs:int" />
          <xs:element minOccurs="0" name="isbn" type="xs:string" />
          <xs:element minOccurs="0" name="genero" type="tns:generoLibro" />
          <xs:element minOccurs="0" name="fechaPublicacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="formato" type="tns:formato" />
          <xs:element minOccurs="0" name="sinopsis" type="xs:string" />
          <xs:element minOccurs="0" name="editorial" type="tns:editorial" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="autores" nillable="true" type="tns:autor" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="editorial">
    <xs:sequence>
      <xs:element minOccurs="0" name="cif" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="idEditorial" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="sitioWeb" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="autor">
    <xs:sequence>
      <xs:element minOccurs="0" name="alias" type="xs:string" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="idAutor" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOrdenCompra">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOrdenCompraResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterruptedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarOrdenesPorCliente">
    <xs:sequence>
      <xs:element name="idCliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarOrdenesPorClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ordenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ordenCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="carrito" type="tns:carrito" />
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoOrden" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idOrdenCompra" type="xs:int" />
      <xs:element minOccurs="0" name="limitePago" type="xs:dateTime" />
      <xs:element minOccurs="0" name="total" type="xs:double" />
      <xs:element minOccurs="0" name="totalDescontado" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="carrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
      <xs:element minOccurs="0" name="completado" type="xs:boolean" />
      <xs:element minOccurs="0" name="cupon" type="tns:cupon" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idCarrito" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lineas" nillable="true" type="tns:lineaCarrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="carrito" type="tns:carrito" />
      <xs:element minOccurs="0" name="idLineaCarrito" type="xs:int" />
      <xs:element minOccurs="0" name="precioConDescuento" type="xs:double" />
      <xs:element minOccurs="0" name="precioUnitario" type="xs:double" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element minOccurs="0" name="subTotalConDescuento" type="xs:double" />
      <xs:element minOccurs="0" name="subtotal" type="xs:double" />
      <xs:element minOccurs="0" name="tipoProducto" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerOrdenCompra">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerOrdenCompraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ordenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contarProductosCarrito">
    <xs:sequence>
      <xs:element name="idCarrito" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contarProductosCarritoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarOrdenesExpiradas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="cancelarOrdenesExpiradasResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarArticulosCarrito">
    <xs:sequence>
      <xs:element name="idCarrito" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarArticulosCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:lineaCarrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarOrdenCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="ordenCompra" type="tns:ordenCompra" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarOrdenCompraResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarOrdenesCompra">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarOrdenesCompraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ordenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarLibrosCarrito">
    <xs:sequence>
      <xs:element name="idCarrito" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarLibrosCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:lineaCarrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoArticulo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LAPICERO" />
      <xs:enumeration value="CUADERNO" />
      <xs:enumeration value="PELUCHE" />
      <xs:enumeration value="TOMATODO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoProducto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ARTICULO" />
      <xs:enumeration value="LIBRO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="generoLibro">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DRAMA" />
      <xs:enumeration value="FANTASIA" />
      <xs:enumeration value="NOVELA" />
      <xs:enumeration value="NARRATIVO" />
      <xs:enumeration value="AVENTURA" />
      <xs:enumeration value="CIENCIA_FICCION" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="formato">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TAPA_BLANDA" />
      <xs:enumeration value="TAPA_DURA" />
      <xs:enumeration value="COLECCIONISTA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoOrden">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NO_PAGADO" />
      <xs:enumeration value="PAGADO" />
      <xs:enumeration value="ENTREGADO" />
      <xs:enumeration value="CANCELADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nuevo" />
      <xs:enumeration value="Modificado" />
      <xs:enumeration value="Eliminado" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>