CampusStore/CampusStore/CampusStoreWeb/CampusStoreWeb/Connected Services/CampusStoreWS/ReporteBestSeller.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.campusstore.pucp.edu.pe/" targetNamespace="http://services.campusstore.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="reporteBestSeller" type="tns:reporteBestSeller" />
  <xs:element name="reporteBestSellerResponse" type="tns:reporteBestSellerResponse" />
  <xs:complexType name="reporteBestSeller">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaInicio" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteBestSellerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>