CampusStore/CampusStore/CampusStoreWeb/CampusStoreWeb/Connected Services/CampusStoreWS/ReporteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.campusstore.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ReporteWS" targetNamespace="http://services.campusstore.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CampusStoreWS/ReporteWS?xsd=1" namespace="http://services.campusstore.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="reporteVentas">
    <part name="parameters" element="tns:reporteVentas" />
  </message>
  <message name="reporteVentasResponse">
    <part name="parameters" element="tns:reporteVentasResponse" />
  </message>
  <message name="SQLException">
    <part name="fault" element="tns:SQLException" />
  </message>
  <message name="ClassNotFoundException">
    <part name="fault" element="tns:ClassNotFoundException" />
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException" />
  </message>
  <portType name="ReporteWS">
    <operation name="reporteVentas">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/ReporteWS/reporteVentasRequest" message="tns:reporteVentas" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/ReporteWS/reporteVentasResponse" message="tns:reporteVentasResponse" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/ReporteWS/reporteVentas/Fault/SQLException" name="SQLException" message="tns:SQLException" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/ReporteWS/reporteVentas/Fault/ClassNotFoundException" name="ClassNotFoundException" message="tns:ClassNotFoundException" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/ReporteWS/reporteVentas/Fault/IOException" name="IOException" message="tns:IOException" />
    </operation>
  </portType>
  <binding name="ReporteWSPortBinding" type="tns:ReporteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="reporteVentas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SQLException">
        <soap:fault use="literal" name="SQLException" namespace="" />
      </fault>
      <fault name="ClassNotFoundException">
        <soap:fault use="literal" name="ClassNotFoundException" namespace="" />
      </fault>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="ReporteWS">
    <port name="ReporteWSPort" binding="tns:ReporteWSPortBinding">
      <soap:address location="http://localhost:8080/CampusStoreWS/ReporteWS" />
    </port>
  </service>
</definitions>