CampusStore/CampusStore/CampusStoreWeb/CampusStoreWeb/Connected Services/CampusStoreWS/ResenaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.campusstore.pucp.edu.pe/" targetNamespace="http://services.campusstore.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="InterruptedException" type="tns:InterruptedException" />
  <xs:element name="eliminarResena" type="tns:eliminarResena" />
  <xs:element name="eliminarResenaResponse" type="tns:eliminarResenaResponse" />
  <xs:element name="guardarResena" type="tns:guardarResena" />
  <xs:element name="guardarResenaResponse" type="tns:guardarResenaResponse" />
  <xs:element name="listarResenas" type="tns:listarResenas" />
  <xs:element name="listarResenasPorProducto" type="tns:listarResenasPorProducto" />
  <xs:element name="listarResenasPorProductoResponse" type="tns:listarResenasPorProductoResponse" />
  <xs:element name="listarResenasResponse" type="tns:listarResenasResponse" />
  <xs:element name="obtenerPromedioCalificacion" type="tns:obtenerPromedioCalificacion" />
  <xs:element name="obtenerPromedioCalificacionResponse" type="tns:obtenerPromedioCalificacionResponse" />
  <xs:element name="obtenerResena" type="tns:obtenerResena" />
  <xs:element name="obtenerResenaResponse" type="tns:obtenerResenaResponse" />
  <xs:element name="obtenerTotalResenas" type="tns:obtenerTotalResenas" />
  <xs:element name="obtenerTotalResenasResponse" type="tns:obtenerTotalResenasResponse" />
  <xs:complexType name="eliminarResena">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reseña" type="tns:reseña" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reseña">
    <xs:sequence>
      <xs:element minOccurs="0" name="idReseña" type="xs:int" />
      <xs:element minOccurs="0" name="calificacion" type="xs:double" />
      <xs:element minOccurs="0" name="reseña" type="xs:string" />
      <xs:element minOccurs="0" name="tipoProducto" type="tns:tipoProducto" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="cuponesUsados" nillable="true" type="tns:cupon" />
          <xs:element minOccurs="0" name="idCliente" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cupon">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="descuento" type="xs:double" />
      <xs:element minOccurs="0" name="fechaCaducidad" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idCupon" type="xs:int" />
      <xs:element minOccurs="0" name="usosRestantes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarResenaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterruptedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarResenasPorProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoProducto" type="tns:tipoProducto" />
      <xs:element name="idProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarResenasPorProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:reseña" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerTotalResenas">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoProducto" type="tns:tipoProducto" />
      <xs:element name="idProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerTotalResenasResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerResena">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reseña" type="tns:reseña" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerResenaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:reseña" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarResenas">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reseña" type="tns:reseña" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarResenasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:reseña" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPromedioCalificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoProducto" type="tns:tipoProducto" />
      <xs:element name="idProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPromedioCalificacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarResena">
    <xs:sequence>
      <xs:element minOccurs="0" name="resena" type="tns:reseña" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarResenaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:simpleType name="tipoProducto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ARTICULO" />
      <xs:enumeration value="LIBRO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nuevo" />
      <xs:enumeration value="Modificado" />
      <xs:enumeration value="Eliminado" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>