CampusStore/CampusStore/CampusStoreWeb/CampusStoreWeb/Connected Services/CampusStoreWS/ResenaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.campusstore.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ResenaWS" targetNamespace="http://services.campusstore.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CampusStoreWS/ResenaWS?xsd=1" namespace="http://services.campusstore.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarResenas">
    <part name="parameters" element="tns:listarResenas" />
  </message>
  <message name="listarResenasResponse">
    <part name="parameters" element="tns:listarResenasResponse" />
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException" />
  </message>
  <message name="InterruptedException">
    <part name="fault" element="tns:InterruptedException" />
  </message>
  <message name="guardarResena">
    <part name="parameters" element="tns:guardarResena" />
  </message>
  <message name="guardarResenaResponse">
    <part name="parameters" element="tns:guardarResenaResponse" />
  </message>
  <message name="eliminarResena">
    <part name="parameters" element="tns:eliminarResena" />
  </message>
  <message name="eliminarResenaResponse">
    <part name="parameters" element="tns:eliminarResenaResponse" />
  </message>
  <message name="obtenerResena">
    <part name="parameters" element="tns:obtenerResena" />
  </message>
  <message name="obtenerResenaResponse">
    <part name="parameters" element="tns:obtenerResenaResponse" />
  </message>
  <message name="obtenerPromedioCalificacion">
    <part name="parameters" element="tns:obtenerPromedioCalificacion" />
  </message>
  <message name="obtenerPromedioCalificacionResponse">
    <part name="parameters" element="tns:obtenerPromedioCalificacionResponse" />
  </message>
  <message name="obtenerTotalResenas">
    <part name="parameters" element="tns:obtenerTotalResenas" />
  </message>
  <message name="obtenerTotalResenasResponse">
    <part name="parameters" element="tns:obtenerTotalResenasResponse" />
  </message>
  <message name="listarResenasPorProducto">
    <part name="parameters" element="tns:listarResenasPorProducto" />
  </message>
  <message name="listarResenasPorProductoResponse">
    <part name="parameters" element="tns:listarResenasPorProductoResponse" />
  </message>
  <portType name="ResenaWS">
    <operation name="listarResenas">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/ResenaWS/listarResenasRequest" message="tns:listarResenas" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/ResenaWS/listarResenasResponse" message="tns:listarResenasResponse" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/ResenaWS/listarResenas/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/ResenaWS/listarResenas/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="guardarResena">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/ResenaWS/guardarResenaRequest" message="tns:guardarResena" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/ResenaWS/guardarResenaResponse" message="tns:guardarResenaResponse" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/ResenaWS/guardarResena/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/ResenaWS/guardarResena/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="eliminarResena">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/ResenaWS/eliminarResenaRequest" message="tns:eliminarResena" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/ResenaWS/eliminarResenaResponse" message="tns:eliminarResenaResponse" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/ResenaWS/eliminarResena/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/ResenaWS/eliminarResena/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="obtenerResena">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/ResenaWS/obtenerResenaRequest" message="tns:obtenerResena" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/ResenaWS/obtenerResenaResponse" message="tns:obtenerResenaResponse" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/ResenaWS/obtenerResena/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.campusstore.pucp.edu.pe/ResenaWS/obtenerResena/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="obtenerPromedioCalificacion">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/ResenaWS/obtenerPromedioCalificacionRequest" message="tns:obtenerPromedioCalificacion" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/ResenaWS/obtenerPromedioCalificacionResponse" message="tns:obtenerPromedioCalificacionResponse" />
    </operation>
    <operation name="obtenerTotalResenas">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/ResenaWS/obtenerTotalResenasRequest" message="tns:obtenerTotalResenas" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/ResenaWS/obtenerTotalResenasResponse" message="tns:obtenerTotalResenasResponse" />
    </operation>
    <operation name="listarResenasPorProducto">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/ResenaWS/listarResenasPorProductoRequest" message="tns:listarResenasPorProducto" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/ResenaWS/listarResenasPorProductoResponse" message="tns:listarResenasPorProductoResponse" />
    </operation>
  </portType>
  <binding name="ResenaWSPortBinding" type="tns:ResenaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarResenas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="guardarResena">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="eliminarResena">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerResena">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerPromedioCalificacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerTotalResenas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarResenasPorProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ResenaWS">
    <port name="ResenaWSPort" binding="tns:ResenaWSPortBinding">
      <soap:address location="http://localhost:8080/CampusStoreWS/ResenaWS" />
    </port>
  </service>
</definitions>