CampusStore/CampusStore/CampusStoreWeb/CampusStoreWeb/Connected Services/CampusStoreWS/RolWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.campusstore.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="RolWS" targetNamespace="http://services.campusstore.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CampusStoreWS/RolWS?xsd=1" namespace="http://services.campusstore.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarRol">
    <part name="parameters" element="tns:eliminarRol" />
  </message>
  <message name="eliminarRolResponse">
    <part name="parameters" element="tns:eliminarRolResponse" />
  </message>
  <message name="listarRoles">
    <part name="parameters" element="tns:listarRoles" />
  </message>
  <message name="listarRolesResponse">
    <part name="parameters" element="tns:listarRolesResponse" />
  </message>
  <message name="guardarNuevoRolRetornaId">
    <part name="parameters" element="tns:guardarNuevoRolRetornaId" />
  </message>
  <message name="guardarNuevoRolRetornaIdResponse">
    <part name="parameters" element="tns:guardarNuevoRolRetornaIdResponse" />
  </message>
  <message name="guardarRol">
    <part name="parameters" element="tns:guardarRol" />
  </message>
  <message name="guardarRolResponse">
    <part name="parameters" element="tns:guardarRolResponse" />
  </message>
  <message name="obtenerRol">
    <part name="parameters" element="tns:obtenerRol" />
  </message>
  <message name="obtenerRolResponse">
    <part name="parameters" element="tns:obtenerRolResponse" />
  </message>
  <portType name="RolWS">
    <operation name="eliminarRol">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/RolWS/eliminarRolRequest" message="tns:eliminarRol" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/RolWS/eliminarRolResponse" message="tns:eliminarRolResponse" />
    </operation>
    <operation name="listarRoles">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/RolWS/listarRolesRequest" message="tns:listarRoles" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/RolWS/listarRolesResponse" message="tns:listarRolesResponse" />
    </operation>
    <operation name="guardarNuevoRolRetornaId">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/RolWS/guardarNuevoRolRetornaIdRequest" message="tns:guardarNuevoRolRetornaId" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/RolWS/guardarNuevoRolRetornaIdResponse" message="tns:guardarNuevoRolRetornaIdResponse" />
    </operation>
    <operation name="guardarRol">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/RolWS/guardarRolRequest" message="tns:guardarRol" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/RolWS/guardarRolResponse" message="tns:guardarRolResponse" />
    </operation>
    <operation name="obtenerRol">
      <input wsam:Action="http://services.campusstore.pucp.edu.pe/RolWS/obtenerRolRequest" message="tns:obtenerRol" />
      <output wsam:Action="http://services.campusstore.pucp.edu.pe/RolWS/obtenerRolResponse" message="tns:obtenerRolResponse" />
    </operation>
  </portType>
  <binding name="RolWSPortBinding" type="tns:RolWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarRol">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarRoles">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="guardarNuevoRolRetornaId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="guardarRol">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerRol">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RolWS">
    <port name="RolWSPort" binding="tns:RolWSPortBinding">
      <soap:address location="http://localhost:8080/CampusStoreWS/RolWS" />
    </port>
  </service>
</definitions>