CampusStore/CampusStore/CampusStoreWeb/CampusStoreWeb/Connected Services/UsuarioWS/UsuarioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.campusstore.pucp.edu.pe/" targetNamespace="http://services.campusstore.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="loginUsuario" type="tns:loginUsuario" />
  <xs:element name="loginUsuarioResponse" type="tns:loginUsuarioResponse" />
  <xs:complexType name="loginUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:loginResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="encontrado" type="xs:boolean" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="tipoUsuario" type="tns:tipoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLIENTE" />
      <xs:enumeration value="EMPLEADO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>